:root {
    --sidebar-measure: 300px;
}

@font-face {
    font-family: "Inter Bold";
    src: url(./fonts/Inter-Bold.woff);
}

@font-face {
    font-family: "Inter Regular";
    src: url(./fonts/Inter-Regular.woff);
}

.background-1 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(50deg, rgba(255,255,255,1) 0%, rgba(13,146,118,1) 52%, rgba(64,162,227,1) 99%);
    opacity: 0.5;
    z-index: -1;
}

.background-2 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(117deg, rgba(64,162,227,1) 5%, rgba(13,146,118,1) 50%, rgba(255,255,255,1) 98%);
    opacity: 0.5;
    z-index: -1;
}

body {
    margin: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: var(--sidebar-measure);
    height: 100vh;
    background-color: #FFF6E9;
    justify-content: space-between;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.bold {
    font-family: "Inter Bold";
}

.sidebar .set-a {
    margin-top: 40px;
}

.sidebar h1 {
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Inter Regular";
}

.sidebar h2 {
    font-size: 20px;
    margin-left: 10px;
    font-family: "Inter Regular";
}

.sidebar .button-container {
    display: flex;
    padding-left: 60px;
}

.sidebar .button-container svg {
    width: 30px;
    height: auto;
}

.sidebar .set-b {
    margin-bottom: 40px;
}

.main {
    margin-left: calc(var(--sidebar-measure) - 50px);
}

.nav, .profile-bar {
    width: auto;
    height: fit-content;
    background-color: #BBE2EC;
    padding: 20px 20px 20px 80px;
    box-sizing: border-box;
}

.nav {
    box-shadow: 0px -10px 18px 5px black;
}

.nav-container {
    display: flex;   
    justify-content: space-between;
}

.search {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.search svg, .notification-bell {
    width: 40px;
    height: auto;
    flex-shrink: 0;
}

.search input {
    appearance: none;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: "Inter Regular";
    padding: 5px;
    font-size: 15px;
    flex: 0 1 700px;
    height: 40px;
}

.user-stuff {
    display: flex;
    font-family: "Inter Bold";
    font-size: 20px;
    align-items: center;
    gap: 20px;
}

.notification-bell {
    margin-left: 40px;
    margin-right: 50px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    background-color: #0D9276;
    border-radius: 50px;
}

.user-stuff p {
    margin-right: 60px;
}