@font-face {
    font-family: "Inter Bold";
    src: url(./fonts/Inter-Bold.woff);
}

@font-face {
    font-family: "Inter Regular";
    src: url(./fonts/Inter-Regular.woff);
}

.background-1 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(50deg, rgba(255,255,255,1) 0%, rgba(13,146,118,1) 52%, rgba(64,162,227,1) 99%);
    opacity: 0.5;
}

.background-2 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(117deg, rgba(64,162,227,1) 5%, rgba(13,146,118,1) 50%, rgba(255,255,255,1) 98%);
    opacity: 0.5;
}

body {
    margin: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 350px;
    height: 100vh;
    background-color: #FFF6E9;
    justify-content: space-between;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.bold {
    font-family: "Inter Bold";
}

.sidebar .set-a {
    margin-top: 40px;
}

.sidebar h1 {
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 35px;
    font-family: "Inter Regular";
}

.sidebar h2 {
    font-size: 25px;
    margin-left: 10px;
    font-family: "Inter Regular";
}

.sidebar .button-container {
    display: flex;
    padding-left: 60px;
}

.sidebar .button-container svg {
    width: 40px;
    height: auto;
}

.sidebar .set-b {
    margin-bottom: 40px;
}
